body {
    margin:0px;
    background-image:none;
    position:relative;
    left:0px;
    /* width:1920.35533905933px; */
    width:1920px;
    height:1080px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }
  .form_sketch {
    border-color:transparent;
    background-color:transparent;
  }
  #base {
    position:absolute;
    z-index:0;
  }
  #u468_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1920px;
    height:1080px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u468 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1920px;
    height:1080px;
    display:flex;
  }
  #u468 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u468_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u469_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:311px;
    height:192px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:28px;
    text-align:left;
  }
  #u469 {
    border-width:0px;
    position:absolute;
    left:24px;
    top:298px;
    width:311px;
    height:192px;
    display:flex;
    font-size:28px;
    text-align:left;
  }
  #u469 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u469_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u470_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:48px;
    background:inherit;
    background-color:rgba(2, 167, 240, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u470 {
    border-width:0px;
    position:absolute;
    left:24px;
    top:117px;
    width:156px;
    height:48px;
    display:flex;
    font-size:20px;
  }
  #u470 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u470_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u471_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:48px;
    background:inherit;
    background-color:rgba(2, 167, 240, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u471 {
    border-width:0px;
    position:absolute;
    left:24px;
    top:176px;
    width:156px;
    height:48px;
    display:flex;
    font-size:20px;
  }
  #u471 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u471_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u472_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:48px;
    background:inherit;
    background-color:rgba(245, 154, 35, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:20px;
  }
  #u472 {
    border-width:0px;
    position:absolute;
    left:24px;
    top:239px;
    width:156px;
    height:48px;
    display:flex;
    font-size:20px;
  }
  #u472 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u472_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u473_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:110px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:16px;
  }
  #u473 {
    border-width:0px;
    position:absolute;
    left:47px;
    top:324px;
    width:265px;
    height:110px;
    display:flex;
    font-size:16px;
  }
  #u473 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u473_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u474_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1154px;
    height:676px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:28px;
    text-align:left;
  }
  #u474 {
    border-width:0px;
    position:absolute;
    left:457px;
    top:214px;
    width:1154px;
    height:676px;
    display:flex;
    font-size:28px;
    text-align:left;
  }
  #u474 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u474_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u475_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:184px;
    height:52px;
    background:inherit;
    background-color:rgba(218, 193, 169, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:20px;
  }
  #u475 {
    border-width:0px;
    position:absolute;
    left:507px;
    top:262px;
    width:184px;
    height:52px;
    display:flex;
    font-family:'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:20px;
  }
  #u475 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u475_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u476_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:922px;
    height:39px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:16px;
  }
  #u476 {
    border-width:0px;
    position:absolute;
    left:573px;
    top:357px;
    width:922px;
    height:39px;
    display:flex;
    font-size:16px;
  }
  #u476 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u476_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u477_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:318px;
    background:inherit;
    background-color:rgba(85, 85, 85, 1);
    border:none;
    border-radius:7px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u477 {
    border-width:0px;
    position:absolute;
    left:1527px;
    top:477px;
    width:13px;
    height:318px;
    display:flex;
  }
  #u477 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u477_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u478_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:40px;
  }
  #u478 {
    border-width:0px;
    position:absolute;
    left:1800px;
    top:15px;
    width:50px;
    height:40px;
    display:flex;
  }
  #u478 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u478_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u479_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
  }
  #u479 {
    border-width:0px;
    position:absolute;
    left:1860px;
    top:10px;
    width:50px;
    height:50px;
    display:flex;
    -webkit-transform:rotate(315deg);
    -moz-transform:rotate(315deg);
    -ms-transform:rotate(315deg);
    transform:rotate(315deg);
  }
  #u479 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u479_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u480 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u481_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:16px;
  }
  #u481 {
    border-width:0px;
    position:absolute;
    left:173px;
    top:44px;
    width:140px;
    height:16px;
    display:flex;
  }
  #u481 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u481_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u482_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:16px;
  }
  #u482 {
    border-width:0px;
    position:absolute;
    left:489px;
    top:44px;
    width:140px;
    height:16px;
    display:flex;
  }
  #u482 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u482_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u483_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:203px;
    height:73px;
    background:inherit;
    background-color:rgba(245, 154, 35, 1);
    box-sizing:border-box;
    border-width:4px;
    border-style:solid;
    border-color:rgba(245, 154, 35, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:28px;
  }
  #u483 {
    border-width:0px;
    position:absolute;
    left:2px;
    top:15px;
    width:203px;
    height:73px;
    display:flex;
    font-size:28px;
  }
  #u483 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u483_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u484_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:203px;
    height:73px;
    background:inherit;
    background-color:rgba(255, 255, 255, 1);
    box-sizing:border-box;
    border-width:4px;
    border-style:solid;
    border-color:rgba(245, 154, 35, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:28px;
  }
  #u484 {
    border-width:0px;
    position:absolute;
    left:295px;
    top:15px;
    width:203px;
    height:73px;
    display:flex;
    font-size:28px;
  }
  #u484 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u484_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u485_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:203px;
    height:73px;
    background:inherit;
    background-color:rgba(170, 170, 170, 1);
    box-sizing:border-box;
    border-width:1px;
    border-style:solid;
    border-color:rgba(121, 121, 121, 1);
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-size:28px;
  }
  #u485 {
    border-width:0px;
    position:absolute;
    left:616px;
    top:15px;
    width:203px;
    height:73px;
    display:flex;
    font-size:28px;
  }
  #u485 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u485_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u486_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:56px;
    background:inherit;
    background-color:rgba(22, 155, 213, 1);
    border:none;
    border-radius:5px;
    -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
    font-size:28px;
  }
  #u486 {
    border-width:0px;
    position:absolute;
    left:1416px;
    top:816px;
    width:166px;
    height:56px;
    display:flex;
    font-size:28px;
  }
  #u486 .text {
    position:absolute;
    align-self:center;
    padding:2px 2px 2px 2px;
    box-sizing:border-box;
    width:100%;
  }
  #u486_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  